


    <div class="comments clearfix">
        <ul id="comments-ul">
           {{# each comments}}
                <li class="clearfix">
                    <div class="comments-box clearfix">
                        <div class="comment-avatar">
                            <img data-original="{{snippet.topLevelComment.snippet.authorProfileImageUrl}}" alt="{{snippet.topLevelComment.snippet.authorDisplayName}}" class="lazy comnt_pic" src="{{snippet.topLevelComment.snippet.authorProfileImageUrl}}" style="display: block;">
                        </div>
                        <div class="comment-info">
                            <div class="clearfix">
                                <a href="#">
                                    <strong class="comment-creator">
                                        {{snippet.topLevelComment.snippet.authorDisplayName}}
                                      
                                    </strong>
                                </a>
                            </div>
                            {{snippet.topLevelComment.snippet.textDisplay}}
                        
                           
                            {{# if this.replies.comments}}
                                <div class="com-info-actions clearfix">
                                    <div class="reply">
                                        <ul id="comments-ul" style="padding-left:0">
                                           {{#each replies.comments}}
                                                <p></p>
                                                <li class="clearfix">
                                                    <div class="comment-avatar">
                                                        {{log this}}
                                                        <img data-original="{{snippet.authorProfileImageUrl}}" class="lazy comnt_pic" alt="{{snippet.authorDisplayName}}" src="{{snippet.authorProfileImageUrl}}" style="display: block;">
                                                    </div>
                                                    <div class="comment-info">
                                                        <div class="clearfix">
                                                            <a>
                                                                <strong>{{snippet.authorDisplayName}} </strong>
                                                            </a>&nbsp;
                                                           
                                                            {{snippet.textDisplay}} 
                                                           
                                                        </div>
                                                    </div>
                                                </li>
                                                <p></p>
                                             {{/each}}

                                        </ul>
                                    </div>
                                </div>


                          {{/if}}

                        </div>
                    </div>
                </li>
            {{/each}}


        </ul>
    </div>

