<header>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <a href="javascript:void(0)" class="side-opener">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div id="logo">
                    <a href="/">
                        <img src="/images/hai22.png" alt="{{meta.domain}}" class="hidden-xs hidden-sm" style="width:97px;">
                        <img src="/images/thichxemhai.png" alt="{{meta.domain}}" class="hidden-lg hidden-md" style="width:41px;"> </a>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" class="user-area" aria-expanded="false">
                            <h2>{{{__ "Lang"}}}</h2>
                        </a>
                        <ul class="dropdown-menu account-menu">
                            <li>
                                <a href="/en">
                                    <i class="fa fa-edit color-1"></i>English</a>
                            </li>

                            <li>
                                <a href="/vi">
                                    <i class="fa fa-edit color-1"></i>Tiếng Việt</a>
                            </li>

                            <li>
                                <a href="/th">
                                    <i class="fa fa-edit color-1"></i>ประเทศไทย</a>
                            </li>
                            <li>
                                <a href="/ko">
                                    <i class="fa fa-edit color-1"></i>한국어</a>
                            </li>
                            <li>
                                <a href="/ja">
                                    <i class="fa fa-edit color-1"></i>日本</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search-form hidden-md hidden-lg hidden-md search-form-mb ">
                    <form action="/Home/Search" id="search" method="get">
                        <input type="text" placeholder="{{{__ " SearchVideo "}}}" name="query" autocomplete="off">
                        <input type="submit" value="Keywords"> </form>
                </div>
                <div class="f16 f161">
                    <a class="cis" href="#" data-toggle="modal" data-target="#regioncode" style="display:block">
                        <span class="flag {{regionCode}}"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-6 hidden-xs hidden-sm">
                <div class="search-form">
                    <form action="/Home/Search/" id="search" method="get">
                        <input type="text" placeholder="{{{__ " SearchVideo "}}}" name="query" autocomplete="on">
                        <input type="submit" value="Keywords"> </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-5 hidden-xs hidden-sm">
                <ul class="top-menu" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name">
                        <a itemprop="url" href="/">{{{__ "Home"}}} </a>
                    </li>
                    <li itemprop="name">
                        <a itemprop="url" href="/Home/Live">{{{__ "Live"}}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row"> </div>
    </div>
    <nav class="clearfix">
        <div id="menu">
            <div class="container-fluid container-menu">
                <nav id="cssmenu">
                    <div id="head-mobile"></div>
                    <div class="button"></div>
                    <ul style="display: block;" class="">
                        <li>
                            <a href="/">Trang Chủ</a>
                        </li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/game+show">Game show</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/Qu%C3%BD+c%C3%B4+ho%C3%A0n+h%E1%BA%A3o">Quý cô hoàn hảo</a>
                                </li>
                                <li>
                                    <a href="/rev/l%E1%BB%B1a+ch%E1%BB%8Dn+cho+tr%C3%A1i+tim">Lựa chọn cho trái tim</a>
                                </li>
                                <li>
                                    <a href="/rev/Nhanh+nh%C6%B0+ch%E1%BB%9Bp">Nhanh như chớp</a>
                                </li>
                                <li>
                                    <a href="/rev/Qu%C3%BD+%C3%B4ng+ho%C3%A0n+h%E1%BA%A3o">Quý ông hoàn hảo</a>
                                </li>
                                <li>
                                    <a href="/rev/Chung+s%E1%BB%A9c">Chung sức</a>
                                </li>
                                <li>
                                    <a href="/rev/C%E1%BA%B7p+%C4%91%C3%B4i+h%C3%A0i+h%C6%B0%E1%BB%9Bc">Cặp đôi hài hước</a>
                                </li>
                                <li>
                                    <a href="/rev/V%C3%AC+b%E1%BA%A1n+x%E1%BB%A9ng+%C4%91%C3%A1ng">Vì bạn xứng đáng</a>
                                </li>
                                <li>
                                    <a href="/rev/Thi%C3%AAn+%C4%91%C6%B0%E1%BB%9Dng+%E1%BA%A9m+th%E1%BB%B1c">Thiên đường ẩm thực</a>
                                </li>
                                <li>
                                    <a href="/rev/Gi%E1%BB%8Dng+%E1%BA%A3i+gi%E1%BB%8Dng+ai">Giọng ải giọng ai</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/H%C3%A0i+h%C6%B0%E1%BB%9Bc">Kênh hài</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/H%E1%BB%8Fi+xo%C3%A1y+%C4%91%C3%A1p+xoay">Hỏi xoáy đáp xoay</a>
                                </li>
                                <li>
                                    <a href="/rev/Fap+TV">FAP TV</a>
                                </li>
                                <li>
                                    <a href="/rev/M%E1%BB%91c+Meo">Mốc Meo</a>
                                </li>
                                <li>
                                    <a href="/rev/5S+Online">5S Online</a>
                                </li>
                                <li>
                                    <a href="/rev/Ghi%E1%BB%81n+M%C3%AC+G%C3%B5">Mì Gõ</a>
                                </li>
                                <li>
                                    <a href="/rev/Ch%E1%BA%A3nh+TV">Chảnh TV</a>
                                </li>
                                <li>
                                    <a href="/rev/8+V%C4%83n+Ph%C3%B2ng">8 Văn Phòng</a>
                                </li>
                                <li>
                                    <a href="/rev/T%E1%BA%A3+P%C3%AD+L%C3%B9">Tả Pí Lù</a>
                                </li>
                                <li>
                                    <a href="/rev/Ph%E1%BB%9F+%C4%90%E1%BA%B7c+Bi%E1%BB%87t">Phở Đặc Biệt</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Vitamin+K">Vitamin K</a>
                                </li>
                                <li>
                                    <a href="/rev/Ngh%E1%BB%8Bch+Ngu">Nghịch ngu</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+%C4%90%E1%BB%99ng+V%E1%BA%ADt">Hài Động vật</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Qu%E1%BA%A3ng+C%C3%A1o">Hài Quảng Cáo</a>
                                </li>
                                <li>
                                    <a href="/rev/Si%C3%AAu+B%E1%BA%A5t+Ng%E1%BB%9D">Siêu Bất Ngờ</a>
                                </li>
                                <li>
                                    <a href="/rev/Gi%E1%BA%A3i+m%C3%A3+c%C6%A1+th%E1%BB%83">Giải mã cơ thể</a>
                                </li>
                                <li>
                                    <a href="/rev/C%C6%B0%E1%BB%9Di+Xuy%C3%AAn+Vi%E1%BB%87t">Cười Xuyên Việt</a>
                                </li>
                                <li>
                                    <a href="/rev/Th%C3%A1ch+Th%E1%BB%A9c+Danh+H%C3%A0i">Thách Thức Danh Hài</a>
                                </li>
                                <li>
                                    <a href="/rev/%C6%A0n+Gi%E1%BB%9Di+C%E1%BA%ADu+%C4%90%C3%A2y+R%E1%BB%93i">Ơn giời, cậu đây rồi</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/H%C3%A0i+t%E1%BB%93ng+h%E1%BB%A3p">Nghệ sĩ hài</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/H%C3%A0i+Ho%C3%A0i+Linh">Hoài Linh</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+XU%C3%A2n+Hinh">Xuân Hinh</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Tr%C6%B0%E1%BB%9Dng+Giang">Trường Giang</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Tr%E1%BA%A5n+Th%C3%A0nh">Trấn Thành</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Chi%E1%BA%BFn+Th%E1%BA%AFng">Chiến Thắng</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Xu%C3%A2n+B%E1%BA%AFc">Xuân Bắc</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Qu%E1%BB%91c+Anh">Quốc Anh</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+C%C3%B4ng+L%C3%BD">Công Lý</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Giang+C%C3%B2i">Giang Còi</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Quang+T%C3%A8o">Quang Tèo</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+T%E1%BB%B1+Long">Tự Long</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Th%C3%BAy+Nga">Thúy Nga</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+V%C3%A2n+Dung">Vân Dung</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Ch%C3%AD+Trung">Chí Trung</a>
                                </li>
                                <li>
                                    <a href="/rev/H%C3%A0i+Quang+Th%E1%BA%AFng">Quang Thắng</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/%C3%82m+nh%E1%BA%A1c">Âm Nhạc</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+tr%E1%BA%BB">Nhạc trẻ</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+tr%E1%BB%AF+t%C3%ACnh">Nhạc trữ tình</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+DJ">Nhạc DJ</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+kh%C3%B4ng+l%E1%BB%9Di">Nhạc không lời</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+bu%E1%BB%93n">Nhạc buồn</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+hoa">Nhạc Hoa</a>
                                </li>
                                <li>
                                    <a href="/rev/Rap+Vi%E1%BB%87t">Rap Việt</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+Dance">Dance</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+Remix">Remix</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+h%C3%B2a+t%E1%BA%A5u">Hòa tấu</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+qu%C3%AA+h%C6%B0%C6%A1ng">Nhạc quê hương</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+c%C3%A1ch+m%E1%BA%A1ng">Nhạc cách mạng</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+thi%E1%BB%81n">Nhạc thiền</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+Rock">Nhạc Rock</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+K-POP">K-POP</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+V-POPp">V-POP</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+Hip+Hop">Hip Hop</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+ch%E1%BA%BF">Nhạc chế</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+phim">Nhạc Phim</a>
                                </li>
                                <li>
                                    <a href="/rev/Nh%E1%BA%A1c+thi%E1%BA%BFu+nhi">Nhạc Thiếu Nhi</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/game+thủ">Game thủ</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/top+game">Top game</a>
                                </li>
                                <li>
                                    <a href="/rev/pewpew">pewpew</a>
                                </li>
                                <li>
                                    <a href="/rev/txt+Tiến+xinh+Trai">Txt tiến xinh trai</a>
                                </li>
                                <li>
                                    <a href="/rev/cris+devil+gamer">cris devil gamer</a>
                                </li>
                                <li>
                                    <a href="/rev/ohsusu">ohsusu</a>
                                </li>
                                <li>
                                    <a href="/rev/viruss">viruss</a>
                                </li>
                               
                            </ul>
                        </li>

                         <li class="has-sub">
                            <span class="submenu-button"></span>
                            <span class="submenu-button"></span>
                            <a href="/rev/ca+sĩ">Ca sĩ</a>
                            <ul style="">
                                <li>
                                    <a href="/rev/Mỹ+Tâm">Mỹ Tâm</a>
                                </li>
                                <li>
                                    <a href="/rev/Hà+anh+Tuấn">Hà Anh Tuấn</a>
                                </li>
                                <li>
                                    <a href="/rev/Đàm+Vĩnh+hưng">Đàm Vĩnh Hưng</a>
                                </li>
                                <li>
                                    <a href="/rev/quang+le">Quang Lê</a>
                                </li>
                                <li>
                                    <a href="/rev/đan+trường">Đan Trường</a>
                                </li>
                                <li>
                                    <a href="/rev/hồ+ngọc+hà">Hồ Ngọc Hả</a>
                                </li>
                               
                            </ul>
                        </li>
                        
                        <li class="hidden-sm hidden-xs">
                            <a href="/rev/H%C3%A0i+Nh%E1%BA%ADt+B%E1%BA%A3n">Hài Nhật Bản</a>
                        </li>
                        <li class="hidden-md hidden-sm hidden-xs">
                            <a href="/rev/H%C3%A0i+Trung+Qu%E1%BB%91c">Hài Trung Quốc</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </nav>
</header>