<ul id="comments-ul" style="padding-left:0">
                                           {{#each replies}}
                                                <p></p>
                                                <li class="clearfix">
                                                    <div class="comment-avatar">
                                                        <img data-original="{{snippet.authorProfileImageUrl}}" class="lazy comnt_pic" alt="{{snippet.authorDisplayName}}" src="{{snippet.AuthorProfileImageUrl}}" style="display: block;">
                                                    </div>
                                                    <div class="comment-info">
                                                        <div class="clearfix">
                                                            <a>
                                                                <strong>{{snippet.authorDisplayName}} </strong>
                                                            </a>&nbsp;
                                                            {{!-- @*<span>8 tiếng trước</span>*@ --}}
                                                            {{snippet.textDisplay}} 
                                                            
                                                            {{!-- @*<p>-Đây là gì lo Nhã Phương mệt mỏi với Trường Giang chăng ?<a target="_blank" href="/video/lKE_pKlFe0g/video.html">https://haimoinhat.net/video/lKE_pKlFe0g/video.html</a></p>*@ --}}
                                                        </div>
                                                    </div>
                                                </li>
                                                <p></p>
                                             {{/each}}

                                        </ul>