

{{# each videoRelateds}}
        <div class="related-video-item">
            <div class="thumb">
                <a href="/video/{{videoId}}/{{titleConverted}}.html">
                    <img src="{{imgUrl}}" alt="{{title}}">
                </a>
            </div>
            <a href="/video/{{videoId}}/{{titleConverted}}.html" class="title">{{title}} </a>
            <a class="channel-name" href="/Channel/{{channelId}}/{{channelTitleConverted}}.html"> {{channelTitle}}
                <span>
                    <i class="fa fa-check-circle"></i>
                </span>
            </a>
        </div>
        {{/each}}