<div class="site-output" itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="headline" content="{{data.channelInfo.title}}">
    <meta itemprop="thumbnailUrl" content="{{data.channelInfo.imgUrl}}">
    <meta itemprop="url" content="{{meta.url}}">
    <meta itemprop="image" content="{{data.channelInfo.imgUrl}}">
    <meta itemprop="author" content="{{data.channelInfo.title}}">
    
    
    <!-- // col-md-2 -->
    <div id="all-output" class="col-md-12">
        <!-- Category Cover Image -->
        <div id="category-cover-image" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
            <div class="image-in">
                <img itemprop="logo" src="{{data.channelInfo.imgUrl}}" alt="{{data.channelInfo.title}}">
            </div>
            <h1 class="title" itemprop="name"><i class="fa fa-music"></i> {{data.channelInfo.title}}</h1>
            <ul class="category-info">
                <li>{{data.channelInfo.subscriberCount}} subscribers </li>
                <li>{{data.channelInfo.viewcount}} Views</li>
                
                <li class="subscribe"><a href="#">Subscribe</a></li>
            </ul>
        </div>
        <!-- // Category Cover Image -->
        <!-- category -->
        <div id="category">
            <div class="row">
                <!-- // col-md-2 -->

                <div class="col-md-12">

                    
        <div class="row"> 
            {{#each data.videos}}
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 item-video">
        <div class="video-item">
           
            <div class="thumb">
                <div class="hover-efect"></div>
    
                <a href="/video/{{videoId}}/{{titleConverted}}.html"><img src="{{imgUrl}}" alt="{{title}}">
                   
                   
                </a>
            </div>
          
            <div class="video-info">
                <a href="/video/{{videoId}}/{{titleConverted}}.html" class="title">{{title}}</a>
               

             
                <a class="channel-name" href="/Channel/{{channelId}}/{{channelTitleConverted}}.html">
                    {{channelTitle}}<span>
                        <i class="fa fa-check-circle"></i>
                    </span>
                </a>
                                
            </div>
        </div>
    </div>
      {{/each}}
    

            </div><!-- // row -->
        </div>
        <!-- // category -->

    </div>
</div>








    <!-- Go to www.addthis.com/dashboard to customize your tools -->

