<div class="site-output">
    <div id="all-output" class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 player-holder">
                <div class="wrapper">
                    <iframe id="player" class="player" width="100%" height="100%" allow="autoplay; encrypted-media" src="https://www.youtube.com/embed/{{video.videoId}}?autoplay=1"
                        frameborder="0" allowfullscreen="1"></iframe>
                </div>
                <div class="video_info_actions clearfix" itemscope="" itemtype="http://schema.org/VideoObject">
                    <div class="clearfix detail-bg">
                        <meta itemprop="uploadDate" content="4/2/2018">
                        <meta itemprop="thumbnailUrl" content={{video.imgUrl}}>
                        <meta itemprop="url" content="https://th-clip.com/video/S8e1yxXiODQ/noah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html">
                        <meta itemprop="duration" content="PT7M48S">
                        <meta itemprop="name" content="{{video.title}}">
                        <div class="clearfix title-area">
                            <h1 class="">{{video.title}}</h1>
                        </div>
                        <div class="fb-like fb_iframe_widget" data-href="https://th-clip.com/video/S8e1yxXiODQ/noah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html"
                            data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"
                            fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1073352086130252&amp;container_width=760&amp;href=https%3A%2F%2Fth-clip.com%2Fvideo%2FS8e1yxXiODQ%2Fnoah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
                            <span style="vertical-align: bottom; width: 450px; height: 20px;">
                                <iframe name="f1a34f4246d0ee8" width="1000px" height="1000px" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.11/plugins/like.php?action=like&amp;app_id=1073352086130252&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FFdM1l_dpErI.js%3Fversion%3D42%23cb%3Df13d3b41b4ff548%26domain%3Dth-clip.com%26origin%3Dhttps%253A%252F%252Fth-clip.com%252Ff3691c37b2b5ecc%26relation%3Dparent.parent&amp;container_width=760&amp;href=https%3A%2F%2Fth-clip.com%2Fvideo%2FS8e1yxXiODQ%2Fnoah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"
                                    style="border: none; visibility: visible; width: 450px; height: 20px;" class=""></iframe>
                            </span>
                        </div>
                        <div class="user-likes-count clearfix hidden-xs hidden-sm">
                            <div class="user-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="user-info">
                                    <a itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization" href="/Channel/UCE_--R1P5-kfBzHTca0dsnw/complex.html"
                                        id="ava_img" class="avatar" style="display:inline-block;">
                                        <meta itemprop="url" content="/Channel/UCE_--R1P5-kfBzHTca0dsnw/complex.html">
                                        <meta itemprop="logo" content="https://i.ytimg.com/vi/S8e1yxXiODQ/hqdefault.jpg">
                                        <meta itemprop="name" content="Complex">
                                        <img itemprop="image" src="{{channelInfo.imgUrl}}"
                                            alt="Complex"> </a>
                                    <div class="sub-title">
                                        <strong class="user_title" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                            <a href="/Channel/{{video.channelId}}/{{video.channelTitleConverted}}.html">{{video.channelTitle}}</a>
                                        </strong>
                                        <div id="buttid" class="clearfix btn-holder ">
                                            <a id="subscribeUser" class="btn btn-subscribe btn-primary" href="#" data-toggle="tooltip"
                                                title="" data-original-title="Subscribe">
                                                <span>
                                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>Subscribe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix like-rating-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="clearfix" itemscope="" itemtype="http://schema.org/Rating">
                                    <span class="views-count" itemprop="ratingValue">Views: 351,780</span>
                                    <meta itemprop="ratingCount" content="17,576"> </div>
                                <div class="clearfix like-rating" id="rating_container">
                                    <div class="rating clearfix">
                                        <div class="clearfix rating-holder">
                                            <div class="ratting-progress clearfix">
                                                <span style="width:94%;"></span>
                                            </div>
                                            <div class="like-dislike">
                                                <a class="btn-like">
                                                    <i></i>
                                                    <span id="l_num">&nbsp;17,576</span>
                                                </a>
                                            </div>
                                            <div class="like-dislike">
                                                <a class="btn-dislike">
                                                    <i></i>
                                                    <span id="disl_num">&nbsp;678</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="descr_list" class="tune-tabs clearfix detail-bg hidden-xs hidden-sm">
                        <ul class="clearfix nav nav-tabs">
                            <li class="active">
                                <a href="#desctab" data-toggle="tab">Description</a>
                            </li>
                            <li>
                                <a id="soc_share" href="#" data-toggle="tab">
                                    <span class="fa fa-share"></span>&nbsp;Share</a>
                            </li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane fade in clearfix active" id="cb-item-share">
                                <i id="closesh" class="fa fa-times fa-lg"></i>
                                <div class="addthis_inline_share_toolbox"></div>
                                <div id="share_form_div" class="action_box share_form clearfix">
                                    <div class="action_box_title"></div>
                                    <div class="form-group">
                                        <label for="link_video">Link</label>
                                        <input type="text" name="link_video" id="link_video" value="https://th-clip.com/video/S8e1yxXiODQ/noah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html"
                                             class="form-control"> </div>
                                    
                                </div>
                            </div>
                            <div class="tab-pane fade in active clearfix panel-collapse collapse" id="moretab">
                                <div class="panel-body-content">
                                    <div class="clearfix watch-vid-details">
                                        <div style="white-space: pre-wrap;" itemprop="description"> 
                                            {{video.description}}
                                             </div>
                                    </div>
                                </div>
                            </div>
                            <button data-active="false" data-show="moretab" data-type="show-more-detail" class="btn-show-more">
                                <span>Show less</span>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix detail-bg hidden-xs hidden-sm" id="comments-block">
                        <div id="reply" class="clearfix">
                            <div class="pad-bottom">
                                <div class="addComment clearfix">
                                    <h2 class="com_count">Comment</h2>
                                </div>
                                <div id="userCommentsList" class="">
                                    <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid" data-href="https://th-clip.com/video/S8e1yxXiODQ/noah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html"
                                        data-numposts="5" data-width="100%" fb-xfbml-state="rendered">
                                        <span style="height: 188px;">
                                            <iframe id="f1178b133a420b" name="ff38f444880f34" scrolling="no" title="Facebook Social Plugin"
                                                class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=1073352086130252&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FFdM1l_dpErI.js%3Fversion%3D42%23cb%3Df7a1272af41814%26domain%3Dth-clip.com%26origin%3Dhttps%253A%252F%252Fth-clip.com%252Ff3691c37b2b5ecc%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fth-clip.com%2Fvideo%2FS8e1yxXiODQ%2Fnoah-schnapp-goes-sneaker-shopping-with-complex-th-clipcom.html&amp;locale=en_US&amp;numposts=5&amp;sdk=joey&amp;version=v2.11&amp;width=100%25"
                                                style="border: none; overflow: hidden; height: 188px; width: 100%;"></iframe>
                                        </span>
                                    </div>
                                    {{>comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix detail-bg" id="ads_bot_detail" style="border-bottom: none !important;padding-top: 5px; text-align: center;">
                    </div>
                </div>
            </div>
            {{>videoRelated}}
        </div>
    </div>
</div>